.totalclass {
  color: grey;
}

.linewidth {
  width: 1000px;
}

.cardouter {
  border-radius: 25px;
  border-width: 1px;
  border-color: blue;
  height: 260px;
}

.savebtn {
  background-color: #544ae6;
  color: white;
  border-radius: 15px;
  width: 120px;
}

.cnclbtn {
  background-color: #d4d2d2;
  color: white;
  border-radius: 15px;
  width: 120px;
}
