<div class="container">
    <h2 class="totalclass mt-4 ml-2">Edit {{editDetails.country}}</h2>
    <hr class="linewidth">

    <div class="row">
        <div class="card cardouter col-lg-10 col-md-10 col-sm-10 mt-5 ml-5" >
            <form [formGroup]="editForm">
            <div class="row mt-4">
                <div class="col-lg-6 col-md-6">
                    <label>Cases<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Cases" formControlName="cases">
                    <p class="text-danger" *ngIf="submitted && editForm.get('cases').errors?.required">Field is required</p>
                    <p class="text-danger" *ngIf="submitted && editForm.get('cases').errors?.pattern">Invalid Data</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Deaths<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Deaths" formControlName="deaths">
                    <p class="text-danger" *ngIf="submitted && editForm.get('deaths').errors?.required">Field is required</p>
                    <p class="text-danger" *ngIf="submitted && editForm.get('deaths').errors?.pattern">Invalid Data</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6 col-md-6">
                    <label>Recovered<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Recovered" formControlName="recovered">
                    <p class="text-danger" *ngIf="submitted && editForm.get('recovered').errors?.required">Field is required</p>
                    <p class="text-danger" *ngIf="submitted && editForm.get('recovered').errors?.pattern">Invalid Data</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label>Tests<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Tests" formControlName="tests">
                    <p class="text-danger" *ngIf="submitted && editForm.get('tests').errors?.required">Field is required</p>
                    <p class="text-danger" *ngIf="submitted && editForm.get('tests').errors?.pattern">Invalid Data</p>
                </div>
            </div>
        </form>
            </div>


</div>
<button class="btn mt-4 ml-3 float-right savebtn" (click)="save()">Save</button>
<button class="btn mt-4 float-right cnclbtn" (click)="cancel()">Cancel</button>
</div>
